:root {
    --primary-orange: #d87d4a;
    --primary-black: #000;
    --primary-white: #fff;;
    --primary-grey: #8c8c8c;
    --secondary-grey: #f1f1f1;
    --page-width: 1150px;
}

header {
    background-color: var(--primary-black);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 96px;
    width: var(--page-width);
    margin: 0 auto;
}

.header-links {
    display: flex;
    gap: 40px;
}

.header-link {
    text-decoration: none;
    color: var(--primary-white);
    font-size: 15px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
}

.header-link.active:after {
    width: 100%;
}

.header-link:after {
    content: "";
    position: absolute;
    left:0;
    top: 100%;
    width: 0;
    height: 2px;
    background-color: var(--primary-orange);
    transition: width .3s ease-in-out;
}

.header-link:hover:after {
    width: 100%;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 35px;
}

.cart {
    cursor: pointer;
}

.sign-in-btn:hover {
    color: var(--primary-orange) !important;
    border: 2px solid var(--primary-orange) !important;
}

.profile-logo {
    background-color: var(--primary-orange);
    border-radius: 50%;
    color: var(--primary-white);
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
}

.profile-link {
    text-decoration: none;
    color: var(--primary-grey);
    padding: 10px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer !important;    
}

.profile-link:hover {
    background-color: var(--secondary-grey);
    color: var(--primary-orange);
}