header {
    background-color: var(--primary-black);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 96px;
    max-width: var(--page-width);
    margin: 0 auto;
    width: 100%;
}

.header-links {
    display: flex;
    gap: 40px;
}

.header-link {
    text-decoration: none;
    color: var(--primary-white);
    font-size: 15px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
}

.header-link.active:after {
    width: 100%;
}

.header-link:after {
    content: "";
    position: absolute;
    left: 0;
    top: 100%;
    width: 0;
    height: 2px;
    background-color: var(--primary-orange);
    transition: width .3s ease-in-out;
}

.header-link:hover:after {
    width: 100%;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 35px;
}

.cart {
    cursor: pointer;
}

.sign-in-btn:hover {
    color: var(--primary-orange) !important;
    border: 2px solid var(--primary-orange) !important;
}

.profile-logo {
    background-color: var(--primary-orange);
    border-radius: 50%;
    color: var(--primary-white);
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
}

.profile-link {
    text-decoration: none;
    color: var(--primary-grey);
    padding: 10px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer !important;
}

.profile-link:hover {
    background-color: var(--secondary-grey);
    color: var(--primary-orange);
}

.hamburger {
    width: 1.5rem !important;
    aspect-ratio: 1;
    display: none;
    padding: none !important;
    border: none !important;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}

.hamburger:before,
.hamburger:after {
    content: "";
    grid-area: 1/1;
    transition: .3s;
}

.mobile-header {
    display: none;
    height: 100%;
    background-color: var(--primary-black) !important;
}

.mobile-header-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.mobile-header .sign-in-btn {
    display: block !important;
}

.hamburger:before {
    background:
        radial-gradient(closest-side at 12.5% 25%, #fff 96%, #0000) 0 0/80% 40%,
        linear-gradient(#fff 50%, #0000 0) top/80% 40% repeat-y;
}

.hamburger:after {
    padding: 10%;
    background:
        radial-gradient(closest-side at 50% 12.5%, #fff 96%, #0000) top /20% 80% repeat-y,
        radial-gradient(closest-side at 12.5% 50%, #fff 96%, #0000) left/80% 20% repeat-x,
        conic-gradient(from 90deg at 33% 33%, #0000 90deg, #fff 0) 100% 100%/60% 60% padding-box content-box;
    transform: translate(-100%) translateZ(0) rotate(45deg);
    opacity: 0;
}

.hamburger:checked:before {
    transform: translate(100%);
    opacity: 0;
}

.hamburger:checked:after {
    transform: translate(0) translateZ(0) rotate(45deg);
    opacity: 1;
}

.hamburger:focus {
    border: none !important;
    outline: none !important;
}

@media screen and (min-width: 300px) and (max-width: 767px) {

    .header-links,
    .sign-in-btn,
    .profile-logo {
        display: none !important;
    }

    .header {
        height: 70px !important;
        width: 80%;
    }

    .hamburger {
        display: grid !important;
        z-index: 3;
    }

    .mobile-header {
        position: fixed;
        background: inherit;
        flex-direction: column;
        inset: 0 0 0;
        padding: 80px 40px;
        display: flex;
        margin: 0;
        gap: 30px;
        transform: translate(-100%);
        opacity: 0;
        transition: .3s;
        z-index: 2;
    }

    .hamburger:checked+.mobile-header {
        transform: translate(0);
        opacity: 1;
    }

    .header-right {
        gap: 0 !important;
    }

    header .line-break {
        width: 80%;
    }

    .mobile-profile-link {
        color: var(--primary-white);
        font-size: 15px;
        font-weight: 800;
        line-height: 25px;
        letter-spacing: 2px;
        text-decoration: none;
        text-transform: uppercase;
        position: relative;
        display: inline-block;
        text-align: left;
        width: 100%;
        display: flex;
        gap: 8px;
        align-items: center;
    }

    .profile-link:hover {
        color: var(--primary-orange);
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .header-links,
    .sign-in-btn,
    .profile-logo {
        display: none !important;
    }

    .header {
        width: 80%;
    }

    .mobile-header {
        position: fixed;
        background: inherit;
        flex-direction: column;
        inset: 0 0 0;
        padding: 80px 40px;
        display: flex;
        margin: 0;
        gap: 30px;
        transform: translate(-100%);
        opacity: 0;
        transition: .3s;
        z-index: 2;
    }

    .hamburger:checked+.mobile-header {
        transform: translate(0);
        opacity: 1;
    }

    .mobile-header .sign-in-btn {
        margin: 0 auto;
    }

    .mobile-header-links {
        align-items: center;
    }

    .hamburger {
        display: grid !important;
        z-index: 3;
    }

    header .line-break {
        width: 80%;
    }

    .header-right {
        gap: 0 !important;
    }
}
    