.other-products {
    display: flex;
    max-width: var(--page-width);
    margin: 0 auto;
    margin-top: 150px;
    margin-bottom: 50px;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
}

.other-products > h1 {
    text-transform: uppercase;
    margin-bottom: 20px;
}

.others {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}

.others * {
    margin: 10px 0;
}

.others > * > img {                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           
    width: 100%;
    border-radius: 10px;
}

.others > * > .product-heading {
    color: var(--primary-black);
    font-size: 30px;
}

@media screen and (min-width: 300px) and (max-width: 767px) {
    .other-products {
        margin-top: 40px !important;
        max-width: 80% !important;
    }

    .others {
        display: flex !important;
        flex-direction: column;
        margin-bottom: auto !important;
        gap: 30px !important;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .other-products {
        max-width: 80% !important;
    }

    .others {
        display: flex !important;
        flex-direction: column;
        margin-bottom: auto !important;
        gap: 30px !important;
    }

}