.previews {
    max-width: var(--page-width);
    margin: 0 auto;
}

.speaker-preview {
    background-image: url(https://ik.imagekit.io/dpkmzcpsk/Audiophile/assets/home/desktop/pattern-circles.svg);
    background-size: cover;
    background-color: var(--primary-orange);
    display: flex;
    margin-bottom: 50px;
    align-items: center;
    height: 37rem;
    border-radius: 10px;
}

.speaker-preview>.preview-thumbnail {
    position: relative;
    bottom: -40px;
    left: 70px;
    max-width: 25rem;
    width: 100%;
}

.speaker-preview>.preview-content {
    max-width: 20rem;
    text-align: left;
    margin-left: 235px;
}

.speaker-preview>.preview-content>.product-description {
    color: var(--primary-white);
}

.speaker-2-preview {
    background: url(https://ik.imagekit.io/dpkmzcpsk/Audiophile/assets/home/desktop/image-speaker-zx7.jpg);
    background-size: cover;
    background-position: 50%;
    height: 20rem;
    margin-bottom: 50px;
    text-align: left;
    border-radius: 10px;
}

.speaker-2-preview>.preview-content {
    margin-left: 10rem;
    padding-top: 5rem;
}

.speaker-2-preview>.preview-content>.product-heading {
    color: var(--primary-black);
    font-size: 40px;
}

.earphone-preview {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 130px;
}

.earphone-preview>* {
    border-radius: 10px;
}

.earphone-preview>img {
    width: 100%;
}

.earphone-preview>.preview-content {
    background-color: var(--secondary-grey);
    width: 100%;
    text-align: start;
    padding: 75px;
}

.earphone-preview>.preview-content>.product-heading {
    color: var(--primary-black);
    font-size: 40px;
}


@media screen and (min-width: 300px) and (max-width: 767px) {
    .previews {
        max-width: 80% !important;
        margin: 0 auto !important;
        /* margin-bottom: 50px !important; */
    }

    .speaker-preview {
        flex-direction: column;
        height: auto !important;
    }

    .speaker-preview>.preview-thumbnail {
        max-width: 10rem !important;
        bottom: -38px;
        left: 11px;
    }

    .speaker-preview>.preview-content {
        margin-left: 20px !important;
        text-align: center !important;
        margin: 5rem 0;
    }
    
    .earphone-preview>.preview-content {
        padding: 0 45px !important;
    }
    
    .speaker-2-preview {
        background: url(https://ik.imagekit.io/dpkmzcpsk/Audiophile/assets/home/mobile/image-speaker-zx7.jpg);
        background-size: contain;
    }
    
    .speaker-2-preview>.preview-content {
        margin-left: 3rem;
    }

    .earphone-preview {
        margin-bottom: 40px !important;
        flex-direction: column;
    }
    
}

@media screen and (min-width: 768px) and (max-width: 1024px)  {
    .previews {
        width: 80% !important;
    }

    .speaker-preview {
        flex-direction: column;
        height: auto !important;
    }

    .speaker-preview>.preview-thumbnail {
        max-width: 13rem !important;
        bottom: -38px;
        left: 11px;
    }

    .speaker-preview>.preview-content {
        margin-left: 20px !important;
        text-align: center !important;
        margin: 5rem 0;
        max-width: 30rem !important;
    }

    .earphone-preview {
        display: grid !important;
        grid-template-columns: 1fr 1fr;
    }
    
    .earphone-preview>.preview-content {
        padding: 0 55px !important;
    }

    .speaker-2-preview {
        background: url(https://ik.imagekit.io/dpkmzcpsk/Audiophile/assets/home/tablet/image-speaker-zx7.jpg);
        background-size: cover;
    }
    
}
