:root {
    --primary-orange: #d87d4a;
    --primary-black: #000;
    --primary-white: #fff;;
    --primary-grey: #8c8c8c;
    --secondary-grey: #f1f1f1;
    --page-width: 1150px;
}

.sign-in-form {
    margin-left: 5rem;
    width: 70%;
    text-align: left;
}

.sign-in-form .logo {
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
}

.logo img {
    width: 12rem;
}

.login-heading {
    margin: 1rem 0;
    color: var(--primary-orange);
}

.login-heading p {
    font-size: 14px;
    color: var(--primary-grey);
    font-weight: 500;
}

.sign-in-form-wrapper > div:nth-child(3) {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 14px;
}

.sign-in-form-wrapper > div:nth-child(3) a {
    text-decoration: none;
    color: var(--primary-orange);
    border-bottom: 1px solid var(--primary-white);
    transition: border-bottom 0.6s;
}

.sign-in-form-wrapper > div:nth-child(3) a:hover {
    border-bottom: 1px solid var(--primary-orange);
}

.sign-in-form-wrapper > div:nth-child(4) {
    display: flex;
    font-size: 15px;
    gap: 5px;
}

.sign-in-form-wrapper > div:nth-child(4) > p:last-child {
    color: var(--primary-orange);
    border-bottom: 1px solid var(--primary-white);
    transition: border-bottom 0.6s;
    cursor: pointer;
}

.sign-in-form-wrapper > div:nth-child(4) > p:last-child:hover {
    border-bottom: 1px solid var(--primary-orange);
}