:root {
  --primary-orange: #d87d4a;
  --primary-black: #000;
  --primary-white: #fff;;
  --primary-grey: #8c8c8c;
  --secondary-grey: #f1f1f1;
  --background-color: #fafafa;
  --page-width: 1150px;
}

.App {
  text-align: center;
}

/* Button styling */

.btn {
  background: none;
	color: inherit;
	border: none;
	outline: inherit;
  margin: 20px 0;
  padding: 15px 30px;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
}

.primary-btn {
  color: var(--primary-white);
  transition: all 0.6s;
  border: 2px solid var(--primary-orange);
}

.primary-btn:hover {
  color: var(--primary-black);
  border-color: var(--primary-black);
}

.secondary-btn {
  color: var(--primary-white);
  transition: color 0.6s;
  border: 2px solid var(--primary-black);
}

.secondary-btn:hover {
  color: var(--primary-black)
}

.primary-btn::before {
  transition: all 0.6s;
  content: '';
  width: 100%;
  height: 100%;
  background: var(--primary-orange);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.primary-btn:hover::before {
  background: var(--primary-orange);
  width: 0;
  z-index: -2;
}

.secondary-btn::before {
  transition: all 0.6s;
  content: '';
  width: 100%;
  height: 100%;
  background: var(--primary-black);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.secondary-btn:hover::before {
  background: var(--primary-black);
  width: 0;
  z-index: -2;
}

/* Line break */

.line-break {
  border: 1px solid var(--primary-grey);
  opacity: 0.5;
  width: var(--page-width);
  margin: 0 auto;
}

/* Category heading */

.category-heading {
  background-color: var(--primary-black);
  color: var(--primary-white);
  padding: 6rem 0;
  text-transform: uppercase;
  font-size: 45px;
}

/* Modal overlay */

.modal-open {
  overflow: hidden;
}

/* Checkout page style */

.checkout {
  background-color: var(--background-color);
}

.checkout-main {
  width: var(--page-width);
  margin: 0 auto;
  display: flex; 
  flex-direction: column; 
  align-items: flex-start;
}

.checkout-details {
  display: flex;
  gap: 40px;
  margin-top: 30px;
}

/* Sign in page */

.sign-in, .sign-up {
  max-height: 100vh;
  max-width: 100vw;
}

.sign-in-wrapper {
  /* width: var(--page-width); */
  height: 100vh;
  margin: 0 auto;
  display: flex;
  color: var(--primary-black);
  align-items: center;
  justify-content: center;
}

.login-image, .login-register-form {
  width: 100%;
  height: 100%;
}

.login-image > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 25% 25%; 
}

.login-register-form {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 300px) and (max-width: 767px) {

  .login-image {
      display: none;
  }

  .login-register-form > * {
    width: 100% !important;
    margin: 2rem !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: start;
    justify-content: flex-start;
  }

  .login-register-form > * > * {
    width: 85%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1000px) {
  .login-image {
    display: none;
  }

  .login-register-form .sign-up-form-wrapper {

  }
}